.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.login form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login button{
    margin-top: 10px;
    width: 250PX;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 10px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
}